/ banner region
#banner
	.content
		%img(src="logo_bird.png")
		%h1 Welcome to your groupapp site          

/ main content region
#main-content
	.content
		.box
			%img.icon(src="/images/icons/about.png")
			%h1 About us
			%img.about(src="/images/11.jpg")
			%p A feline border dispute caught on tape. Find me on facebook: http://www.facebook.com/klaatu42 twitter: http://twitter.com/klaatu42 Thanks to mkass84 for shoo...</p>
			%br
			.button
				%a(href="/")Read more

		.box
			%img.icon(src="/images/icons/services.png")
			%h1 Services
			%p A feline border dispute caught on tape. Find me on facebook: http://www.facebook.com/klaatu42 twitter: http://twitter.com/klaatu42 Thanks to mkass84 for shoo...
			%br %br						
			
			%h2 Service #1
			%p A feline border dispute caught on tape. Find me on facebook: http://www.facebook.com/klaatu42 twitter: http://twitter.com/klaatu42 Thanks to mkass84 for shoo...	
			%br %br %hr
				
			%h2 Service #2
			%p A feline border dispute caught on tape. Find me on facebook: http://www.facebook.com/klaatu42 twitter: http://twitter.com/klaatu42 Thanks to mkass84 for shoo...
			%br %br %hr
				
			%h2 Service #3
			%p A feline border dispute caught on tape. Find me on facebook: http://www.facebook.com/klaatu42 twitter: http://twitter.com/klaatu42 Thanks to mkass84 for shoo...
			%br %br %hr
				
			%h2 Service #4
			%p A feline border dispute caught on tape. Find me on facebook: http://www.facebook.com/klaatu42 twitter: http://twitter.com/klaatu42 Thanks to mkass84 for shoo...

		.box.last
			%img.icon(src="/images/icons/portfolio.png")
			%h1 Latest projects			
			
/ stream content
#middle-content
	.content
		#news-box					
			%img.icon(src="/images/icons/news.png")
			%h1 News
			#container
				#stream
					%p.date 16/02/2012
					%h1 Title #1							
					%p A feline border dispute caught on tape.						
				
				#stream
					%p.date 16/02/2012
					%h1 Title #2							
					%p A feline border dispute caught on tape.
					A feline border dispute caught on tape.
					A feline border dispute caught on tape. %br %br
					A feline border dispute caught on tape.
					A feline border dispute caught on tape.
				
				#stream
					%p.date 16/02/2012
					%h1 Title #3
					%p A feline border dispute caught on tape.

				#stream
					%p.date 16/02/2012
					%h1 Title #4
					%p A feline border dispute caught on tape.

				#stream
					%p.date 16/02/2012
					%h1 Title #5
					%p A feline border dispute caught on tape.

				#stream
					%p.date 16/02/2012
					%h1 Title #6
					%p A feline border dispute caught on tape.
					A feline border dispute caught on tape.
					A feline border dispute caught on tape. %br %br
					A feline border dispute caught on tape.
					A feline border dispute caught on tape.

				#stream
					%p.date 16/02/2012
					%h1 Title #7
					%p A feline border dispute caught on tape.
				
				#stream
					%p.date 16/02/2012
					%h1 Title #8
					%p A feline border dispute caught on tape.

				#stream
					%p.date 16/02/2012
					%h1 Title #9
					%p A feline border dispute caught on tape.

/ for footers sake
#fake
	