.langing_page

	%ol
		%li
			First you signin using your
			%strong Facebook account.
		%li
			Then we collect list of all
			%strong your groups.
		%li
			You pick your
			%strong best group.
		%li
			We make
			%strong amaizing website
			out of it.
		%li
			You are
			%strong happy
			and
			%strong we dance ;)

		%li
			%a.org_btn.make_it(href="/auth/facebook") Connect to FB and make it!