.langing_page
	%strong Welcome stranger ;)

	%ol
		%li
			First you sigin-in using your
			%strong Facebook profile.
		%li
			Then we collect list of all
			%strong your groups.
		%li
			You pick your
			%strong best group.
		%li
			We make
			%strong amaizing website
			out of it.
		%li
			You are
			%strong happy
			and
			%strong we dance ;)