!!!
%html
	%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	%link(href="/main.css" media="all" rel="stylesheet" type="text/css")
	%meta(charset="utf-8")
	%meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
	%meta(name="description" content="Make your FB group awsome again ;)")
	%meta(property="fb:app_id" content="343528869001148")


	%head
		%title Groupapp

	%body
		.main-wrap
			.header
				%a.logo(href="/") groupapp
			
			.main
				=yield

			.footer
				%p
					This is just experiment. 
					%a(href="http://twitter.com/otobrglez") @otobrglez